modify:
{
	;lifting up the teleport destination
	match:
	{
		"targetname" "destino12"
		"classname" "info_teleport_destination"
	}
	replace:
	{
		"classname" "info_teleport_destination"
		"angles" "0 0 0"
		"targetname" "destino12"
		"origin" "-15208 -1568 508"
	}
	delete:
	{
		"classname" "info_teleport_destination"
		"origin" "-15104 -1568 492"
	}

	;replacing destination
	match:
	{
		"classname" "trigger_teleport"
		"origin" "14651.5 -96 52"
	}
	replace:
	{
		"target" "destino12"
	}
}

;adding more teleports for increased usability
add:
{
	"model" "*74"
	"target" "destino12"
	"origin" "14644.5 -96 52"
	"spawnflags" "1"
	"StartDisabled" "0"
	"classname" "trigger_teleport"
}
{
	"model" "*74"
	"target" "destino12"
	"origin" "14637.5 -96 52"
	"spawnflags" "1"
	"StartDisabled" "0"
	"classname" "trigger_teleport"
}
{
	"model" "*74"
	"target" "destino12"
	"origin" "14623.5 -96 52"
	"spawnflags" "1"
	"StartDisabled" "0"
	"classname" "trigger_teleport"
}

add:
{
	"model" "*293"
	"targetname" "!activator"
	"target" "xd2"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "14336 -5404.51 744.5"
	"classname" "trigger_teleport"
}
