remove:
{
	"classname" "trigger_multiple"
	"origin" "10016 -11776 -3095"
}

remove:
{
	"classname" "trigger_multiple"
	"origin" "10048 -12092 -2847"
}

remove:
{
	"classname" "trigger_multiple"
	"origin" "10048 -12356 -2527"
}

remove:
{
	"classname" "trigger_push"
	"origin" "10000 -12340 -2487"
}

remove:
{
	"classname" "trigger_push"
	"origin" "9968 -12096 -2735"
}

remove:
{
	"classname" "trigger_push"
	"origin" "9992 -11792 -3019"
}

;;booster fixes
add:
{
	"classname" "trigger_multiple"
	"model" "*1"
	"origin" "10016 -11776 -3095"
	"spawnflags" "1"
	"StartDisabled" "0"
	"OnEndTouch" "!activator,AddOutput,basevelocity 0 0 400,0,-1"
}

add:
{
	"classname" "trigger_multiple"
	"model" "*1"
	"origin" "10048 -12092 -2847"
	"spawnflags" "1"
	"StartDisabled" "0"
	"OnEndTouch" "!activator,AddOutput,basevelocity 0 0 700,0,-1"
}

add:
{
	"classname" "trigger_multiple"
	"model" "*1"
	"origin" "10048 -12356 -2527"
	"spawnflags" "1"
	"StartDisabled" "0"
	"OnEndTouch" "!activator,AddOutput,basevelocity 0 0 400,0,-1"
}

add:
{
	"classname" "trigger_multiple"
	"model" "*1"
	"origin" "-6848.01 5824 -1015"
	"spawnflags" "1"
	"StartDisabled" "0"
	"OnEndTouch" "!activator,AddOutput,basevelocity 0 0 1250,0,-1"
}


modify:
{
	match:
	{
		"OnTrigger" "!activator,AddOutput,targetname activator_boost,0.01,-1"
	}
	delete:
	{
		"OnTrigger" "!activator,AddOutput,targetname activator_boost,0.01,-1"
	}
}

modify:
{
	match:
	{
		"OnTrigger" "!activator,AddOutput,targetname default,0.11,-1"
	}
	delete:
	{
		"OnTrigger" "!activator,AddOutput,targetname default,0.11,-1"
	}
}
