filter:
{
	"classname" "func_button"
	"origin" "-255.5 224 184"
}

;;remove scout on speed tele
remove:
{
	"classname" "trigger_multiple"
	"origin" "320 1008 280"
}

;;remove strip trigger entering 240lj
remove:
{
	"classname" "trigger_multiple"
	"origin" "-1136 -6664 616"
}

;;remove strip triggers on climb
remove:
{
	"classname" "trigger_multiple"
	"origin" "-1064 -8576 744"
}

;;remove strip trigger just after climb
remove:
{
	"classname" "trigger_multiple"
	"origin" "-1208 -8928 808"
}

;;remove strip trigger on 250lj
remove:
{
	"classname" "trigger_multiple"
	"origin" "-3336 -9472 424"
}

;;remove strip trigger on last 240lj
remove:
{
	"classname" "trigger_multiple"
	"origin" "-3960 -13408 488"
}

;;remove 35sec timer at end for practicing purposes
remove:
{
	"classname" "trigger_multiple"
	"origin" "1848 -10200 -2496"
}

remove:
{
	"classname" "trigger_teleport"
	"origin" "1784 -9848 -2984"
}

remove:
{
	"classname" "trigger_push"
	"origin" "1848 -10200 -1872"
}

modify:
{
	match:
	{
		"classname" "trigger_push"
		"origin" "-2240 -10432 248"
	}
	replace:
	{
		"speed" "3000"
	}
}
